body{
    margin: 0;
    background-color: hsl(220, 15%, 55%);
    width: 100vw;
    height: 100vh;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1{
    font-weight: 700;
    width: 80%;
    color:  hsl(218, 44%, 22%);
    margin: auto;
    font-size: 15px;
}
#normal-text{
    width: 75%;
    margin: auto;
    color: hsl(220, 15%, 55%);
    font-weight: 400;
}
img{
width: 95%;
display: flex;
  justify-content: center;
  margin: 10px auto;
  border-radius: 8%;
}
.content{
    background-color: hsl(0, 0%, 100%);
    max-width: 320px;
    max-height: 450px;
    padding: 10px;
    border-radius: 8%;
    box-shadow: 0 3px 3px 3px rgba(0,0,0,0.3);
    font-size: 15px;
    width: 27%;
    text-align: center;
    margin: 400px auto;
    
}
.text{
    text-align: center;
    font-family: 'Outfit', sans-serif;
    margin: 10px;
}
